html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #283747;
}

body > .container {
  padding: 80px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

nav{
  background-color: #1D1D2C;
}

.nav-link{
  color: #F7F4E9;
}

.logo{
  font-size: 18px;

}

.logo2{
  font-size: 18px;
}

.login{
  align-content: flex-end;
}

.red{
  color: #E40C2B;
}

.blue{
  color: #3CBCC3;
}

.yellow{
  color: #EBA93F;
}

.white{
  color: #F7F4E9;
}

div.r{
  float: left;
  background-color: #3CBCC3;
  border-radius: 8px;

  padding: 1%;
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;

}

div img{
  width: 50px;
  height: 50px;
  
  margin-left: 45%;
}

.show{
  background-color: #3CBCC3;
  border-radius: 8px;
  padding: 15%;
  -webkit-box-shadow: 13px 12px 20px -4px rgba(0,0,0,0.47);
  -moz-box-shadow: 13px 12px 20px -4px rgba(0,0,0,0.47);
  box-shadow: 13px 12px 20px -4px rgba(0,0,0,0.47);
}

h1{
  font-size: 100px;
  margin: 3%;
}

h2{
  font-size: 40px;
  margin: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.show button{
  float: right;
}